.mat-column-alimento {
    width: 50%;
    vertical-align: middle;
}
.mat-table .mat-column{
    vertical-align: middle;

}
.mat-mdc-table .mat-mdc-header-cell, .mat-mdc-cell {
    vertical-align: middle;
    
}
.mat-mdc-row:hover {
    background-color: aqua;
}
::ng-deep .mat-expansion-panel-body {
    padding: 5px !important;
  }

  .mat-elevation-z8 {
    box-shadow: none !important; 
  }
  .mat-expansion-panel-spacing {
    margin: 5px 0;
  }
  .mat-mdc-header-row {
   height: 0;
   
}
.mat-typography {
 margin: 100px;
}
.refeicao-title {
  margin: 10px 0px;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}