.mat-column-alimento {
    width: 50%;
    vertical-align: middle;
}
.mat-expansion-panel-header {

}
.mat-table .mat-column{
    vertical-align: middle;

} 
.mat-panel-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mat-panel-title-infos {
 
}
.mat-panel-title-infos span{
 font-style: italic;
 font-size: 14px;
}

.mat-mdc-table .mat-mdc-header-cell, .mat-mdc-cell {
    vertical-align: middle;
    background-color: #ffffff;
}
.mat-mdc-row:hover {
    background-color: aqua;
}
::ng-deep .mat-expansion-panel-body {
    padding: 5px !important;
  }

  .mat-elevation-z8 {
    box-shadow: none !important; 
  }
  .mat-expansion-panel-spacing {
    margin: 5px 0;
  }
  .mat-mdc-header-row {
  
   
}
.mat-typography {
 margin: 100px;
}
.refeicao-title {
  margin: 10px 0px;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}