<nav class="sidebar">

    <ul class="sidebar-items">
        
        <li class="sidebar-item">
            <a routerLink="/training">
                <i class="fi fi-rr-gym"></i>
                <!--<span>Treinos</span> -->
            </a>
        </li>

        <li class="sidebar-item">
            <a routerLink="/nutrition">
                <i class="fi fi-rr-restaurant"></i>
                  <!-- <span>Nutrição</span> -->
            </a>
        </li>

        <li class="sidebar-item">
            <a routerLink="/studies">
                <i class="fi fi-rr-graduation-cap"></i>
                   <!--<span>Estudos</span>-->
            </a>
        </li>
    </ul>

</nav>