<div class="container-sidebar">
    <ul class="sidebar-itens">

        <div class="item">
            <span class="material-symbols-outlined">home</span>
            <li>Visão geral</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">fork_spoon</span>
            <li><a routerLink="/nutrition">Nutrição</a></li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">fitness_center</span>
            <li><a routerLink="/training">Treinos</a></li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">book</span>
            <li>Estudos</li>
        </div>
        
    </ul>
</div>

