<div class="container-sidebar">
    <ul class="sidebar-itens">

        <div class="item">
            <span class="material-symbols-outlined">home</span>
            <li>Visão geral</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">fork_spoon</span>
            <li>Nutrição</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">fitness_center</span>
            <li>Treinos</li>
        </div>
        <div class="item">
            <span class="material-symbols-outlined">book</span>
            <li>Estudos</li>
        </div>
        
    </ul>
</div>

